a{
	color: #d99f1efa;
	text-decoration: none;
	font-weight: bold;
	margin-top: 10px;
	margin: 0 auto;
	padding: 4px;
	display: inline-block;
	background: #0006cc;
	width: 200px;
	text-align: center;

}